{% comment %}
  Accepts:
    color {String} - Name of color of product to display sizes for

  Requires:
    component-radio.css
{% endcomment %}

{% # assign index = option.position | minus: 1 %}

<div class="product__sizes">
  {%- for value in option.values -%}
    {% assign is_available = true %}
    <div class="radio {%- unless is_available %} radio--sold-out{%- endunless -%}">
      <input
        type="radio"
        name="size"
        id="size{{- forloop.index -}}"
        value="{{- value -}}"
        onchange="selectSize('{{- value -}}')"
        {%- if option.selected_value == value -%}
          checked
        {%- endif -%}
      >

      <label for="size{{- forloop.index -}}" class="utility">{{- value -}}</label>
    </div><!-- /.radio -->
  {%- endfor -%}
</div><!-- /.product__options -->
