<link rel="stylesheet" href="{{ 'section-styleguide.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="styleguide page-width">
  <div class="styleguide__group">
    <h1 class="h1">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1><!-- /.h1 -->

    <p>Heading 1 (.h1)</p>
  </div><!-- /.styleguide__group -->

  <div class="styleguide__group">
    <h2 class="h2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2><!-- /.h2 -->

    <p>Heading 2 (.h2)</p>
  </div><!-- /.styleguide__group -->

  <div class="styleguide__group">
    <h3 class="h3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3><!-- /.h3 -->

    <p>Heading 3 (.h3)</p>
  </div><!-- /.styleguide__group -->

  <div class="styleguide__group">
    <h4 class="h4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4><!-- /.h4 -->

    <p>Heading 4 (.h4)</p>
  </div><!-- /.styleguide__group -->

  <div class="styleguide__group">
    <h5 class="h5">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5><!-- /.h5 -->

    <p>Heading 5 (.h5)</p>
  </div><!-- /.styleguide__group -->

  <div class="styleguide__group">
    <h6 class="h6">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h6><!-- /.h6 -->

    <p>Heading 6 (.h6)</p>
  </div><!-- /.styleguide__group -->

  <div class="styleguide__group">
    <p class="body-large">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p><!-- /.p1 -->

    <p>Body Large (.body.body--large)</p>
  </div><!-- /.styleguide__group -->

  <div class="styleguide__group">
    <p class="body">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p><!-- /.body -->

    <p>Body (.body)</p>
  </div><!-- /.styleguide__group -->

  <div class="styleguide__group">
    <p class="caption">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p><!-- /.caption -->

    <p>Caption (.caption)</p>
  </div><!-- /.styleguide__group -->

  <div class="styleguide__group">
    <p class="utility--large">Lorem ipsum dolor</p><!-- /.utility-large -->

    <p>Utility Large (.utility--large)</p>
  </div><!-- /.styleguide__group -->

  <div class="styleguide__group">
    <p class="utility">Lorem ipsum dolor</p><!-- /.utility -->

    <p>Utility (.utility)</p>
  </div><!-- /.styleguide__group -->

  <div class="styleguide__group">
    <blockquote>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</blockquote><!-- /.pullquote -->

    <p>Blockquote</p>
  </div><!-- /.styleguide__group -->

  <div class="styleguide__group">
    <ul class="list">
      <li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</li>

      <li>Accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</li>

      <li>Ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</li>
    </ul><!-- /.bullet-list -->

    <p>Bullet List (.list)</p>
  </div><!-- /.styleguide__group -->

  <div class="styleguide__group">
    <a href="#" class="inline-link">Inline Link</a><!-- /.inline-link -->

    <p>Inline Link</p>
  </div><!-- /.styleguide__group -->

  <div class="styleguide__grid">
    <div class="styleguide__color styleguide__color--large background-primary color-reverse">
      <p class="styleguide__color-hex">[{{- settings.color_primary -}}]</p><!-- /.styleguide__color-hex -->

      <p class="styleguide__color-title">Brand Primary</p><!-- /.styleguide__color-title -->
    </div><!-- /.styleguide__color background-primary -->

    <div class="styleguide__color styleguide__color--large background-secondary color-reverse">
      <p class="styleguide__color-hex">[{{- settings.color_secondary -}}]</p><!-- /.styleguide__color-hex -->

      <p class="styleguide__color-title">Brand Secondary</p><!-- /.styleguide__color-title -->
    </div><!-- /.styleguide__color background-secondary -->

    <div class="styleguide__color styleguide__color--large background-tertiary color-ink">
      <p class="styleguide__color-hex">[{{- settings.color_tertiary -}}]</p><!-- /.styleguide__color-hex -->

      <p class="styleguide__color-title">Brand Tertiary</p><!-- /.styleguide__color-title -->
    </div><!-- /.styleguide__color background-tertiary -->

    <div class="styleguide__color background-ink color-reverse">
      <p class="styleguide__color-hex">[{{- settings.color_ink -}}]</p><!-- /.styleguide__color-hex -->

      <p class="styleguide__color-title">Ink</p><!-- /.styleguide__color-title -->
    </div><!-- /.styleguide__color background-ink -->

    <div class="styleguide__color background-subdued color-reverse">
      <p class="styleguide__color-hex">[{{- settings.color_subdued -}}]</p><!-- /.styleguide__color-hex -->

      <p class="styleguide__color-title">Subdued</p><!-- /.styleguide__color-title -->
    </div><!-- /.styleguide__color background-subdued -->

    <div class="styleguide__color background-neutral color-ink">
      <p class="styleguide__color-hex">[{{- settings.color_neutral -}}]</p><!-- /.styleguide__color-hex -->

      <p class="styleguide__color-title">Neutral</p><!-- /.styleguide__color-title -->
    </div><!-- /.styleguide__color background-neutral -->

    <div class="styleguide__color background-light color-ink">
      <p class="styleguide__color-hex">[{{- settings.color_light -}}]</p><!-- /.styleguide__color-hex -->

      <p class="styleguide__color-title">Light</p><!-- /.styleguide__color-title -->
    </div><!-- /.styleguide__color background-neutral -->

    <div class="styleguide__color background-reverse color-ink">
      <p class="styleguide__color-hex">[{{- settings.color_reverse -}}]</p><!-- /.styleguide__color-hex -->

      <p class="styleguide__color-title">Reverse</p><!-- /.styleguide__color-title -->
    </div><!-- /.styleguide__color background-reverse -->
  </div><!-- /.styleguide__grid -->

  <div class="styleguide__group">
    <button class="button button--primary">Button Primary</button><!-- /.button button--primary -->
  </div><!-- /.styleguide__group -->

  <div class="styleguide__group">
    <button class="button-small">Button Small</button><!-- /.button button--secondary -->
  </div><!-- /.styleguide__group -->
</div><!-- /.styleguide -->

{% schema %}
{
  "name": "Styleguide",
  "settings": [

  ]
}
{% endschema %}
